body { font-family: sans-serif; }
.ais-SearchBox { margin-bottom: 1em }

.ais-Hits-item {
  box-shadow: none;
}


.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
	color: white;
}
.light-blue-backdrop {
	background-color: #5cb3fd;
}
